/* App.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(100deg, #0630ee, #531e87);
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #0b0404;
    border-radius: 10px;
    background: linear-gradient(135deg, #667eea, #764ba2);
  }
  
  label {
    font-weight: bold;
    
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4510e6;
    border-color: #4510e6;
    color: #fff;
    border-radius: 9px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6640d9;
  }
  